body{
    margin: 0;
}

.bar-display {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 5px;

}

.single-bar {
    width: 3px;
    margin: 0px 1px;
    /* background-color: orange; */
    display: inline-block;
    /* float: left; */
    /* align-items: bottom;
    align-content: bottom;

    justify-content: bottom;
    justify-items: bottom;  */
    
}

.menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-evenly;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    /* align-items: center; */
    
}

.shuffle-area,
.choose-algorithm-area,
.sort-button-area,
.sorting-speed-slider-area,
.color-slider-area {
    height: 100%;
    

    /* border: black 1px solid; */
}

.shuffle-area,
.choose-algorithm-area,
.sort-button-area {
    padding: 10px;
}