body{
    margin: 0;
}

.sorting-visualizer {
    display: flex;
    flex-direction: column;
}

.bar-display {
    /* background-color: black; */
    margin-top: 6vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
}

.single-bar {
    /* width: 0.3vw; */
    margin: 0vh 0.05vw;
    display: inline-block;
}

.menu-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-evenly;
    box-shadow: 0vw 3vh 3vh 0vh rgba(0, 0, 0, 0.3);
    width: 100vw;
    /* align-items: center; */
    
}


.sorting-speed-slider-area,
.color-slider-area,
.bar-Width-slider-area {
    margin-top: 3vh;
}

.shuffle-area,
.choose-algorithm-area,
.sort-button-area {
    padding: 3vh;
}